<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.briup.Dao.IProductDao">
	<resultMap type="com.briup.Bean.Product" id="productModel">
		<id property="productid" column="productid"/>
		<result property="name" column="name"/>
		<result property="writer" column="writer"/>
		<result property="baseprice" column="baseprice"/>
		<result property="publish" column="publish"/>
		<result property="pages" column="pages"/>
		<result property="description" column="description"/>
		<result property="images" column="images"/>
		<association property="category" javaType="com.briup.Bean.Category">
			<id property="categoryid" column="categoryid"/>
			<result property="name" column="names"/>
			<result property="description" column="descriptions"/>
		</association>
	</resultMap>
	<select id="allListProduct" resultMap="productModel">
	select p.productid,p.name,p.writer,p.baseprice,p.publish,p.pages,p.description,p.images,c.categoryid,c.name names,c.description descriptions
	from product p,category c
	where p.categoryid=c.categoryid
	</select>
</mapper>






